/*-------------------------------------
 *	FLEX UTILITIES
 *-------------------------------------
 *
 * 	Collection of flex utilities for
 * 	making the development of flex
 * 	layouts as easy as combining classes
 *
/-------------------------------------*/

.flex {
  display: flex;
}

  .flex-row {
    flex-direction: row;
  }

  .flex-row-rev {
    flex-direction: row-reverse;
  }

  .flex-column {
    flex-direction: column;
  }

  .flex-column-rev {
    flex-direction: column-reverse;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-nowrap {
    flex-wrap: nowrap;
  }

  .flex-hor-start {
    justify-content: flex-start;
  }

  .flex-hor-end {
    justify-content: flex-end;
  }

  .flex-hor-center {
    justify-content: center;
  }

  .flex-hor-between {
    justify-content: space-between;
  }

  .flex-hor-around {
    justify-content: space-around;
  }

  .flex-vert-start {
    align-items: flex-start;
  }

  .flex-vert-end {
    align-items: flex-end;
  }

  .flex-vert-center {
    align-items: center;
  }

  .flex-vert-stretch {
    align-items: stretch;
  }

  .flex-vert-baseline {
    align-items: baseline;
  }
  
  .flex-group-start {
    
    align-content: flex-start;
  }

  .flex-group-end {
    align-content: flex-end;
  }

  .flex-group-center {
    align-content: center;
  }

  .flex-group-stretch {
    align-content: stretch;
  }

  .flex-group-between {
    align-content: space-between;
  }

  .flex-space-around {
    align-content: space-around;
  }

.mdev-main-wrapper {
 max-width: 90%;
  margin: 0 auto;
}

body {
  margin: 0;
}

header {
  padding-bottom: 20px;
}

.mdev-announcement-bar {
  text-align: center;
  padding: 5px 0;
  margin-bottom: 15px;
  
  p {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
  }
}

.mdev-header-search {
 width: 60%;
  
  .form-field {
    width: 100%;
    
    input {
      width: 80%;
      padding: 5px;
      border: 1px solid #333;
    }
    
    button {
      border: none;
      background: none;
    }
  }
}

.mdev-grid {
  padding: 60px 0;
  
  .mdev-grid-block {
    width: 33%;
    height: 15vw;
    content: "";
  }

  
}

.utils-view {
 width: 10%; 
}

.utils-showby {
  margin-left: 0;
  
  li {
    list-style-type: none;
    
    a {
      text-decoration: none;
    }
  }
}